<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, shrink-to-fit=no, user-scalable=no" />
    <meta name="theme-color" content="#ffffff" />
    <link rel="manifest" href="~/manifest.json" />
    <meta http-equiv="ScreenOrientation" content="autoRotate:disabled" />
    <title>@ViewData["Title"] Briza Breath & Performance</title>
    <link rel='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" media="print" onload="this.media='all'">
    <link rel="stylesheet" href="~/dist/css/site.min.css">
    <noscript>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    </noscript>
    <link rel="stylesheet" href="~/BrizaBreath.styles.css" asp-append-version="true" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        @if (ViewData["IsActiveSubscriber"] is bool isActive)
        {
            <text>var isUserActiveSubscriber = @isActive.ToString().ToLower(); </text>
        }
        else
        {
            <text>var isUserActiveSubscriber = false; </text>
        }
    </script>
    @{
        var alertMessage = ViewData["AlertMessage"] as string;
    }

    @if (!string.IsNullOrEmpty(alertMessage))
    {
        <script type="text/javascript" >
            alert("@Html.Raw(alertMessage)");
        </script>
    }
</head>
<body>
    <div class="container">
        <main role="main" class="container body-content">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="~/js/global.js" asp-append-version="true"></script>
    <script defer src="~/dist/js/site.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>