################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/wwwroot/css/site.css
/wwwroot/images/apnea.png
