@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, shrink-to-fit=no, user-scalable=no" />
    <meta name="theme-color" content="#ffffff" />
    <link rel="manifest" href="~/manifest.json" />
    <meta http-equiv="ScreenOrientation" content="autoRotate:disabled" />
    <title>@ViewData["Title"] Briza Breath & Performance</title>
    <link href='https://fonts.googleapis.com/css?family=Playfair Display' rel='stylesheet' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BrizaBreath.styles.css" asp-append-version="true" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div class="logo">
    <img src="https://brizastorage.blob.core.windows.net/images/brizalogo.png" width="250" height="100" />
</div>
<div class="row">
    <div class="col-md-8">
        <form method="post" id="passwordForm">
            <h4 id="passwordText">Reset your password</h4>
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <input asp-for="Input.Code" type="hidden" />
            <div class="form-group">
                <div class="col-md-10">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Email" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Password" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Confirm password" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button id="passwordBtn" type="submit" class="btn btn-default">Reset</button>
                </div>
            </div>
        </form>
    </div>
</div>
    <p class="loginText">
        <a asp-page="./Login">Back to Login</a>
    </p>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
</body>
</html>